@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


body{
    margin: 0px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    margin: auto;
}

#logo{
    flex-direction: column;
    line-height: 10px;
    color: #ff4f5a;
    margin-left: 10px;
}

#menu{
    display: flex;
    list-style: none;
}


ul a{
    color: #ff4f5a;
    transition: 500ms;
    text-decoration: none;
    margin-right: 50px;
}

ul a:hover{
    color: #bc343e;
}

#login-btn{
    background-color: #ff4f5a;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: 500ms;
    cursor: pointer;
}

#login-btn:hover{
    background-color: #bc343e;
    padding: 15px;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 60px;
}

aside{
    display: flex;
    flex-direction: column;
}

h2{
    color: #ff4f5a;
    font-size: 2.8rem;
    line-height: 3.5rem;
    font-weight: 900;

}


p{
    margin-top: 20px;
    color: #bc343e;
    text-indent: 20px;
    text-align: justify;
}

hr{
    background-color: black;
    margin: 0.1px;
}

span{
    color: #bc343e;
    font-size: 3.7rem;
}

div{
    margin-top: 20px;
}

#register-btn{
    background-color: #ff4f5a;
    color: white;
    width: 200px;
    height: 50px;
    border: solid 1px;
    border-style: none;
    border-radius: 5px;
    transition: 500ms;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
}

#register-btn:hover{
    background-color: #bc343e;
    color: white;
    width: 215px;
    height: 55px;
    border: solid 1px;
    border-style: none;
    border-radius: 5px;
    transition: 500ms;
    cursor: pointer;
}

#contato{
    color: #bc343e;
    transition: 500ms;
    text-decoration: none;
    margin-left: 20px;
}

#contato:hover{
    text-decoration: underline;

}

img{
    width: 470px;
    margin-left: 160px;
}

#btn-mobile{
    display: none;
}

#menu{
    display: flex;
    gap: .5rem;
}

#menu a{
    display: block;
    padding: .5rem;
}


@media (max-width: 475px) {
    body{
        margin: 0px;
        padding: 0px;
    }

    main{
        margin: auto;
        display: flex;
        justify-content: center;
    }

    aside{
        margin-top: 100px;
        width: 85%;
    }

    #registro{
        margin-top: 100px;
    }

    #logo h1{
        margin: 10px;
    }

    img{
        display: none;
    }

    div{
        display: flex;
        flex-direction: column;
    }

    div a{
        text-align: center;
    }

    #contato{
        margin: auto;
        margin-top: 20px;
    }

    hr{
        margin-top: 30px;
    }
    
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 85px;
        right: 0px;
        background-color: #ff4f5a;
        height: 0px;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }

    nav.active #menu{
        height: calc(100vh - 110px);
        background-color: #ff4f5a;
        visibility: visible;
        overflow-y: auto;
    }

    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(83, 83, 83, 0.178);
        width: 100vh;
    }

    #menu a{
        color: white;
    }

    #nav.active #menu{
        display: block;
    }

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer{
        width: 20px;
        border-top: 2px solid;
        display: block;
        color: #bc343e;
    }

    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    nav.active #hamburguer{
        border-top-color: transparent;
    }

    nav.active #hamburguer::before{
        transform: rotate(135deg);
    }

    nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}

@media (min-width: 1800px){
    header{
        width: 150%;
    }
    
    main{
        margin-left: 170px;
        margin-top: 80px;
    }
    
    aside{
        margin-right: 50px;
    }

    h2{
        font-size: 4.3rem;
        line-height: 4.3rem;
    }

    hr{
        width: 450px;
    }

    span{
        font-size: 6.1rem;
        
    }

    img{
        width: 800px;
        margin-left: 100px;
    }
}